  <h3>Shopping Cart</h3>
  <button class="btn btn-primary" (click)="reset()">reset</button>
  <!-- <ul *ngFor="let c of computerParts" class="list-group col-md-10">
    <li class="list-group-item"> </li>
  </ul> -->
  <table class="table table-striped table-sm">
    <tr>
      <th>name</th>
      <th>action</th>
    </tr>
    <tr *ngFor="let c of computerParts">
      <td>{{c.computerPart.name}}</td>
      <td><button class="btn btn-warning" (click)="remove(c.id)">delete</button></td>
    </tr>
